---
export const title = "Dating Simulator";
export const description =
  "A fun dating simulation game where you can interact with another person and ask questions.";
import DatingSim from "@/components/tools/DatingSim";
import StarLayout from "@/layouts/StarLayout.astro";
---

<StarLayout title={title} description={description}>
  <section>
    <DatingSim client:only="react" />
  </section>
</StarLayout>
