GITHUB_TOKEN=""
SPOTIFY_CLIENT_ID=""
AUTH_SECRET=""

# Leaveify
LEAVEIFY_SPOTIFY_REDIRECT_URI="http://127.0.0.1:4321/api/tools/leaveify/spotify/callback"
LEAVEIFY_TIDAL_REDIRECT_URI="http://127.0.0.1:4321/api/tools/leaveify/tidal/callback"
LEAVEIFY_DEBUG="true"
TIDAL_CLIENT_ID=""
TIDAL_CLIENT_SECRET=""
TIDAL_COUNTRY_CODE="US"

VITE_AUTH_SECRET=your_random_secret_string
