---
import BlogPreview from "@/components/BlogPreview";
import PostImageLoader from "@/components/PostImageLoader.astro";
import StarLayout from "@/layouts/StarLayout.astro";
import { getBlogs } from "@/utils/server/content";

const blogs = await getBlogs();
blogs.sort((a, b) => {
  return b.data.releaseDate.getTime() - a.data.releaseDate.getTime();
});
---

<StarLayout
  title="Blog"
  description="trying to get my blog started so future historians can have my genius thoughts preserved for eternity /s"
>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-400 lg:text-4xl"
        >
          blog
        </h2>
        <p class="l font-light text-gray-500 sm:text-xl">
          trying to get my blog started so future historians can have my genius
          thoughts preserved for eternity /s
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          blogs.map((blog) => (
            <div class="col-span-2 lg:col-span-1 min-w-[-webkit-fill-available]">
              <BlogPreview blog={blog}>
                <div
                  slot="image"
                  transition:name={"hero-" + blog.data.image}
                  class="absolute inset-0 overflow-hidden rounded-lg"
                >
                  <div class="absolute inset-0 bg-gradient-to-r from-card via-card/90 to-card/80 z-10" />
                  <PostImageLoader
                    className="h-full w-full object-cover"
                    imagePath={blog.data.image}
                    altText={blog.data.title}
                  />
                </div>
              </BlogPreview>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</StarLayout>
