---
import BlogPreview from "@/components/BlogPreview";
import PostImageLoader from "@/components/PostImageLoader.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { getCollection } from "astro:content";

const blogs = await getCollection("blog", ({ data }) => {
  return import.meta.env.PROD ? data.published === true : true;
});
blogs.sort((a, b) => {
  return b.data.releaseDate.getTime() - a.data.releaseDate.getTime();
});
---

<DefaultLayout
  title="Blog"
  description="Trying to get my blog started so future historians can have my genius thoughts preserved for eternity /s"
>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 lg:text-4xl"
        >
          My Blog
        </h2>
        <p class="l font-light text-gray-500 sm:text-xl">
          Trying to get my blog started so future historians can have my genius
          thoughts preserved for eternity /s
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          blogs.map((blog) => (
            <BlogPreview blog={blog}>
              <div
                slot="image"
                transition:name={"hero" + blog.id}
                class="absolute inset-0 overflow-hidden rounded-lg"
              >
                <div class="absolute inset-0 bg-gradient-to-r from-card via-card/90 to-card/80 z-10" />
                <PostImageLoader
                  className="h-full w-full object-cover"
                  imagePath={blog.data.image}
                  altText={blog.data.title}
                />
              </div>
            </BlogPreview>
          ))
        }
      </div>
    </div>
  </section>
</DefaultLayout>
