---
import Homepage from "@/components/Homepage";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Maximilian Mauroner" description="Welcome to my Homepage">
  <h1 class="font-mono text-2xl">here mono</h1>
  <h1 class="font-sans text-2xl">here sans</h1>
  <Homepage />
</DefaultLayout>
