---
import Homepage from "@/components/Homepage";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Maximilian Mauroner" description="Welcome to my Homepage">
  <h1 class="sr-only">
    Maximilian Mauroner
  </h1>
  <Homepage client:load />
</DefaultLayout>
