---
import Homepage from "@/components/Homepage";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
---

<DefaultLayout title="Home" description="Welcome to my Homepage">
  <h1 class="sr-only">Home</h1>
  <Homepage client:load />
</DefaultLayout>
