---
import LogPreview from "@/components/LogPreview.astro";
import DefaultLayout from "@/layouts/DefaultLayout.astro";
import { calculateRelativeDate, logsFromMDX } from "@/utils/helpers";
import dayjs from "dayjs";
import weekOfYear from "dayjs/plugin/weekOfYear"; // ES 2015
const allLogs = await Astro.glob("./log/**/*.mdx");

const logs = logsFromMDX(allLogs);

dayjs.extend(weekOfYear);
const currentWeek = dayjs().week(); // 26
const currentYear = dayjs().year(); // 2024
---

<DefaultLayout
  title="Blog"
  description="Trying to get my blog started so future historians can have my genius thoughts preserved for eternity /s"
>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 lg:text-4xl"
        >
          dev log
        </h2>
        <p class="l font-light text-gray-500 sm:text-xl">
          weekly summary of what i've been working on
        </p>
        <p>
          next log:&nbsp;
          <b>
            <a href={`/dev-log/log/${currentYear}/${currentWeek}`}>
              {currentYear + "/" + currentWeek}
            </a>
          </b>
        </p>
      </div>
      <div class="grid gap-8 lg:grid-cols-2">
        {
          logs
            .filter(
              (e) =>
                (e.published === true &&
                  calculateRelativeDate(e.releaseDate) >= 0) ||
                process.env.NODE_ENV === "development"
            )
            .map((post) => <LogPreview log={post} />)
        }
      </div>
    </div>
  </section>
</DefaultLayout>
