---
import LogPreview from "@/components/LogPreview";
import PostImageLoader from "@/components/PostImageLoader.astro";
import StarLayout from "@/layouts/StarLayout.astro";
import { getLogs } from "@/utils/server/content";

const logs = await getLogs();
---

<StarLayout
  title="Dev-Blog"
  description="Trying to get my blog started so future historians can have my genius thoughts preserved for eternity /s"
>
  <section>
    <div class="mx-auto max-w-screen-xl px-4 py-8 lg:px-6 lg:py-16">
      <div class="mx-auto mb-8 max-w-screen-sm text-center lg:mb-16">
        <h2
          class="mb-4 text-3xl font-extrabold tracking-tight text-gray-900 dark:text-gray-400 lg:text-4xl"
        >
          dev log
        </h2>
        <p class="l font-light text-gray-500 sm:text-xl">
          weekly summary of what i've been working on
        </p>
      </div>
      <div class="grid gap-4 lg:grid-cols-2 p-4">
        {
          logs.map((log) => (
            <div class="col-span-2 lg:col-span-1 min-w-[-webkit-fill-available]">
              <LogPreview log={log}>
                <div
                  slot="image"
                  transition:name={"hero-" + log.data.image}
                  class="absolute inset-0 overflow-hidden rounded-lg"
                >
                  <div class="absolute inset-0 bg-gradient-to-r from-card via-card/90 to-card/80 z-10" />
                  <PostImageLoader
                    className="h-full w-full object-cover"
                    imagePath={log.data.image}
                    altText={log.data.title}
                  />
                </div>
              </LogPreview>
            </div>
          ))
        }
      </div>
    </div>
  </section>
</StarLayout>
