---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;
import "@/styles/globals.css";
import { ClientRouter } from "astro:transitions";
import Posthog from "@/components/Posthog.astro";
const cannonicalUrl = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="canonical" href={cannonicalUrl} />
    <title>{title}</title>
    <ClientRouter />
    <link rel="icon" type="image/ico" href="/favicon.ico" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="Your Site's Title"
      href={new URL("rss.xml", Astro.site)}
    />
    <Posthog />
  </head>
  <body lang="en" class="flex min-h-dvh flex-col">
    <Header />
    <main class="flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
