---
export const title = "Malen nach Zahlen";
export const description = "A fun coloring game where you can color by numbers";
import MalenNachZahlen from "@/components/tools/MalenNachZahlen/MalenNachZahlen";
import StarLayout from "@/layouts/StarLayout.astro";
---

<StarLayout title={title} description={description}>
  <section>
    <MalenNachZahlen client:only />
  </section>
</StarLayout>
